# Data Types

--------------------------------------------------------------------------------------------------------------------------
## 1.Text Type

I. STR - contains string function

ex : str()

In [ ]:
s="hello world"
print (s)

In [ ]:
s1="hello
world"
print (s)

In [ ]:
s2="""Hello
world"""
print (s2)

In [ ]:
s3="""Hello 
world"""
s3

---------------------------------------------------------------------------------------------------------------------------
## 2. Numerical Data Type

I. INT

II. FLOAT

III. COMPLEX

In [ ]:
x=12
y=124763982
z=-123297
print(type(x))
print(type(y))
print(type(z))

In [ ]:
x=12.1267
y=12476.3982
z=-123.297
print(type(x))
print(type(y))
print(type(z))

In [ ]:
x=3.6e4
print(x)
print(type(x))

In [ ]:
x=3+4j
print(type(x))

In [ ]:
x=(3+4j)*(3-4j)
print(x)
print(type(x))

In [ ]:
x=3+4j
print(type(x))

x2=2j+5
print(type(x))

x3=x*x2
print(x3)

--------------------------------------------------------------------------------------------------------------------------
## SEQUENCE DATATYPE

I. LIST

II. TUPLE

III. RANGE

In [ ]:
###list

l=["A","B","C","D","E"]
print(l)
print(type(l))

l[1]="F"
print(l)

In [ ]:
###tuple

t=("A","B","C","D","B")
print(t)
print(t[3])
print(t[4])
t[2]="N"
print(t)

In [ ]:
###range

x=range(4)
print(x)
print(type(x))

---------------------------------------------------------------------------------------------------------------------------

## Mapping Type

I. DICTONARY

In [ ]:
d={1:"A",2:"LJK",1:3241,4:-325.8}
print(d)
print(type(d))
print(d[2])

---

## SET

I. SET

II. FROZEN SET

In [ ]:
s={10,90,10,20,30,90,40,30,90}
print(s)
print(type(s))

In [ ]:
t=(10,20,30,40,50)

In [ ]:
l=[10,20,30,40,50]

In [ ]:
s={10,20,30,40,50}
print(s)
print(frozenset(s))

---

## BOOLEAN

In [ ]:
print(bool(0))
print(bool(0.0))
print(bool(""))
print(bool(" "))
print(bool(153378))

In [ ]:
print(int(10))
print(int(10.59))
print(int(10.99))
#print(int(5+3j))
print(int("10"))
#print(int("10.5"))
#print(int("ten"))
#print(int("ob1111"))

In [ ]:
print(float(10))
print(float(10.59))
print(float(10.99))
#print(float(5+3j))
print(float("10"))
print(float("10.5"))
#print(float("ten"))
#print(float("ob1111"))

In [ ]:
print(bool(10))
print(bool(10.59))
print(bool(0.0))
print(bool(5+3j))
print(bool("10"))
print(bool("False"))
print(bool("ten"))
print(bool(0+0j))
print(bool(0+4j))
print(bool(5+0j))
print(bool(""))
print(bool("ob1111"))

In [ ]:
print(str(10))
print(str(10.59))
print(str(0.0))
print(str(5+3j))

In [ ]:
str(10)

In [ ]:
str(10.59)

In [ ]:

str(0.0)

In [ ]:

str(5+3j)

In [ ]:

str(True)

## Variable

x=10
_x=10
_x_=11
#invalid 12312x="Ramesh"
x234="ASAP"

In [1]:
a,b,c=10,20,30

In [3]:
a,b,c=10,20,30,40
print(a,b,c)

ValueError: too many values to unpack (expected 3)

In [4]:
a,b,c,d=(10,20,30,40)
print(a, b, c, d)

10 20 30 40

In [5]:
a,b,c,d=(10,20,30)
print(a, b, c, d)

ValueError: not enough values to unpack (expected 4, got 3)

In [8]:
x=input("Enter your name: ")
print("Your name is:",x)

Enter your name: vraj
Your name is: vraj

In [20]:
x=input("Enter your name: ")
print("Your name is: "+x)

Enter your name: ni
Your name is: ni

## OPERATORS

ARITHEMATIC
880
500 KETLI
100 KETLI
200 KETLI 
80 KETLI

In [23]:
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

13
7
30
3.3333333333333335
3
1

In [26]:
a=10
b=3.69
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

13.69
6.3100000000000005
36.9
2.710027100271003
2.0
2.62

In [25]:
b=10.43
a=3.69
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

14.12
-6.74
38.4867
0.3537871524448706
0.0
3.69